.text-logo {
    color: tomato;

}

text-body {
    color: teal;
}

/* button */ 
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0,0,0,0.5);
}

.hero * {
    z-index: 10;
}